<div id="yregwp">
<div id="yUnivHead" class="">
	<div id="yuhead-hd" class="yuhead-clearfix">
		<div id="yuhead-com-links-cont">
			<ul id="yuhead-com-links" class="yucs-toolbar">
				<li id="yuhead-com-home"><a  class="sp yuhead-ico-home" href="http://localhost/Picbook/index.html"                                     				target="_top">Picbook</a></li>
				<li class="yuhead-me"><a target="_top" rel="nofollow" href="" >
				Help
				</a><li>
			</ul>
		</div>
	</div>
	
	<div id="yuhead-bd" class="yuhead-clearfix">
		
	</div>
	
</div>

<div id="yregct" class="yregclb">
	<div id="yreglg">
		<div class="yregbx">
			
  <div class="yregbxi">
	
		
    <div id="ylbpix"></div>
         <div>
	         
         </div>


      
        <div id="yregdsilu">
            <h3>Don't have a Picbook ID?</h3>
            <a id="signUpBtn" class="primaryCta" href="http://localhost/Picbook/registe.html">
            Create New Account
            </a>
            
        
        <div id="idp">
                <div class="center">
                    <span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="or">&nbsp; OR &nbsp;</span>
                    <span class="lthru">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div id="idpBtns">
                    <p>Sign in with:</p>
                    <div id="fBtn">
                        <a id="fBtnLnk" href="" class="secondaryCta">Facebook</a>
                    </div>
    
                </div>   
                <div class="clear"></div>
        </div>
      

        </div>
        <div id="yregmain">
			
<h2>Sign in to Picbook!</h2>
      		<% if flash[:alert]%>
			<p style = "color:red;">
				<%= flash[:alert]%>
			</p>
			<% else %>
			<p style = "color:green;">
				<%= flash[:notice] %>
			</p>
			<% end %>

	         
            <fieldset id="fsLogin" class="clear">
                
                <form method="post" name="login_form" id="login_form">
			      <div class="yui-skin-sam" id="inputs">

                    <label for="username">Email</label>
				    <%= text_field_tag :email,params[:email] %>
					<span class="required" id="usernameMsg">required</span>
                    <p id="ex">(e.g. free2rhyme@gmail.com)</p>
					
                    <label for="passwd">Password</label>
                    <%= password_field_tag :password,params[:password] %>
                   	<span class="required" id="passwdMsg">required</span>
                   </div>


            <div id="persistency">
                <input name=".persistent" id="persistent"  value="y" type="checkbox">
                <p>
                  <label for="persistent">Keep me signed in</label>
                 
                </p>
            </div>


        <div id="submit">
            <%= submit_tag "Sign in" %>	        </div>
    </form>
    </fieldset>






      <div id="help">
      	  		  
          <a id="forgotLnk" href="">I can't access my account</a>
    	
&nbsp;&nbsp;|&nbsp;&nbsp;<a id="helpLnk" href="">Help</a>

            </div>
       </div>

  </div>
  
		</div>
	</div>
</div>
</div>
