<p id="notice">
	<%= notice %>
</p>

<div id="user-strip"></div>
<div id="content">
	<div class="left-side">
		<div id="user-stats">
			<div class="user-info clearfix">
				<div class="avatar">
					<%= image_tag (@user.avatar.url) %>
				</div>
				<div class="info">
					<div class="link">
						Hello, <%= @user.firstName=%>
					</div>
				</div>

				<br/>
				<br/>
				<br/>
				<br/>

			</div>
		</div>
	</div>
	

	<div class="right-side-profile">
		<h3><%= " Gallery:" %></h3>
		
<% @pics.each do |pic| %>

<div class="gallery">
<%= image_tag (pic.photo) %>
<p/>
<div class="title">
<%= pic.title %>
</div>
</div>
<% end %>


		<div class="clearboth"></div>



	</div>
</div>
