<p id="notice">
	<%= notice %>
</p>

<div id="user-strip"></div>
<div id="content">
	<div class="left-side">
		<div id="user-stats">
			<div class="user-info clearfix">
				<% if @user.firstName!='Guest'%>
				<div class="avatar">
					<%= image_tag (@user.avatar.url) %>
				</div>
				<%end%>

				<div class="info">
					<div class="link">
						Hello, <%= @user.firstName=%>
					</div>
				</div>

				<br/>
				<br/>
				<br/>
				<br/>

			</div>
		</div>
	</div>
	

	<div class="right-side-profile">
		<br />
		<a class="gallerybtn" href="http://localhost:3000/pics/?layout=gallerythumbnail&user_id=<%= session[:gallery_user_id]%>">Thumbnail</a>
		<a class="gallerybtn" href="http://localhost:3000/pics/?layout=gallerysmall&user_id=<%= session[:gallery_user_id]%>">Small</a>
		<a class="gallerybtn" href="http://localhost:3000/pics/?layout=gallerymedium&user_id=<%= session[:gallery_user_id]%>">Medium</a>
		<a class="gallerybtn" href="http://localhost:3000/pics/?layout=gallerylarge&user_id=<%= session[:gallery_user_id]%>">Large</a>
<p/>	
<h3>

<%= @galleryUser.firstName + "'s " %>
Gallery: </h3>
<% @pics.each do |pic| %>

<div class=<%= session[:layout] %>>
<div class="title">
<%= pic.title %>
</div>
<%= image_tag (pic.photo) %>
<%= hidden_field_tag("longi", pic.longitude, {:id => "longi"+pic.id.to_s})%>
<%= hidden_field_tag("lati", pic.latitude, {:id => "lati"+pic.id.to_s})%>
<br />
<br />
<div onclick="showPosition(<%= pic.id%>);"> Show Geolocation</div>
</div>

<% end %>

<div id="mapholder"></div>
		<div class="clearboth"></div>



	</div>
</div>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type=text/javascript >


function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition,showError);
    }
  else{x.innerHTML="Geolocation is not supported by this browser.";}
  }

function showPosition(pid)
  {
  lat=document.getElementById("lati"+pid).value;
  lon=document.getElementById("longi"+pid).value;
   
  latlon=new google.maps.LatLng(lat, lon)
  mapholder=document.getElementById('mapholder')
  mapholder.style.height='250px';
  mapholder.style.width='500px';

  var myOptions={
  center:latlon,zoom:14,
  mapTypeId:google.maps.MapTypeId.ROADMAP,
  mapTypeControl:false,
  navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
  };
  var map=new google.maps.Map(document.getElementById("mapholder"),myOptions);
  var marker=new google.maps.Marker({position:latlon,map:map,title:"You are here!"});
  }

function showError(error)
  {
  switch(error.code) 
    {
    case error.PERMISSION_DENIED:
      x.innerHTML="User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML="Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML="The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML="An unknown error occurred."
      break;
    }
  }

</script>