<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="container">



<form id="regFormBody" method="post"  name="regFormBody">
			<fieldset id="personalFieldsCollection" class="fieldsCollection">
			

				<h2> Personal Info</h2>
				
				<div id="fullnameFld" class="row">
		          	<label class="label">Username</label>
		          	<div id="name" class="collection">
		               <%= f.text_field :firstName %>
					   <%= f.text_field :lastName %>
		           </div>
		           
		          </div>
		          
		          <div id="genderFld" class="row ">
			        <label class="label">Gender</label>
			          <div id="gendercollection" class="collection">
			               <%= f.select(:gender,'<option>Female</option><option>Male</option>'.html_safe)%>
			          </div>
			      </div>
			      
			      <div id="dobFld" class="row ">
			          <label class="label">Birthday</label> 
			          
			          <div title="Birthday" id="birthdategroup" class="collection">
				          <%= f.date_select :birthday,:start_year => 1950 %>
                     </div>
			      </div>
			</fieldset>
		
		
		
		
			<fieldset class="fieldsCollection">
				<div class="dotline"></div>
				<h2> Email, Password and Picture</h2>
			
				<div id="yahooIdFld" class="row  ">
			          <label class="label">Email</label> 
			          <div class="collection">
			               
			            <%= f.text_field :email %>
			           </div>
			           <div class="msgContainer">
			               <div class="icon"></div>
			               <p role="alert" id="yahooIdFldMsg">valid E-mail please</p>
			           </div>
                </div>
                
                <div id="passwordFld" class="row">
			          <!---->
			          <label class="label">Password</label> 
			          <div class="collection">
			              <%= f.password_field :password %>
			               
			          </div>
			          
			           <div class="msgContainer">
			               <div class="icon"></div>
			               <p role="alert" id="passwordFldMsg">	

At least 5 characters: letters, numbers and '_'
			               </p>
			           </div>
			          
			      </div>
			      
			      <div id="confPasswordFld" class="row ">
			          <label class="label">Confirm Password</label> 
			          <div class="collection">
			               <%= f.password_field :password_confirmation %>
			          </div>
			           <div class="msgContainer">
			               <div class="icon"></div>
			               <p role="alert" id="confPasswordFldMsg">Confirm password</p>
			           </div>
			           <p></p>
			          <label class="label">Profile</label> 
			          <div class="collection">
			               <%= f.file_field :profile %>
			          </div>
			       </div>
			       
			         <div class="actions">
    <%= f.submit %> 
  </div>
  <%= link_to 'Back', users_path %>
			</fieldset>
		</form>

</div>


<% end %>
