<script type=text/javascript >
function getPP() {
	alert ("！！！！")
	document.getElementById("longi").value = 700
	document.getElementById("lati").value= 700
}
</script>


<p id="notice">
	<%= notice %>
</p>

<div id="user-strip"></div>
<div id="content">
	<div class="left-side">
		<div id="user-stats">
			<div class="user-info clearfix">
				<div class="avatar">
					<%= image_tag (@user.avatar.url) %>
				</div>
				<div class="info">
					<div class="link">
						Hello, <%= @user.firstName=%>
					</div>
				</div>

				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<input type="button" onclick="getPP()" />

			</div>
		</div>
	</div>
	
	<%= form_for @pic, :url => { :action =>"create", :controller => 
"pics", :onclick => "getPP()"}  do |f| %>
	<div class="right-side-profile">
	
	<% if @pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pic.errors.count, "error") %> prohibited this pic from being saved:</h2>

      <ul>
      <% @pic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <
	  	<%= hidden_field_tag("longi", "", {:id => "longi"})%>
		<%= hidden_field_tag("lati", "", {:id => "lati"})%>
	
		<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Describe your photo:</h3>
		<div id="uploadBox">

			<div class="reply">

				<%= f.text_area :title %>

			</div>

		</div>

		<div id="uploadBtn">
			 <%= f.submit "Upload"%>
		</div>
		<div class="clearboth"></div>
		<div id="photoelement">
			<%= label_tag(:photo, "Select a picture you want to upload:  ") %><%= f.file_field :photo%>
			<p/>
			<%= label_tag(:prop, "Set private: ") %><%= f.check_box :prop %>
			
		</div>
	<% end %>
		<div class="clearboth"></div>
		<div id="results">
        
			<h3>Recent Post</h3>
			<% i=0 %>
			<% @pics.each do |pic| %>
			<% i+= 1 %>
			<div id="noah-live-fed<%= i %>" class="result">
			<% @friend = User.find(pic.user_id)%>
				<div class="image">
					<%= image_tag (@friend.avatar) %>
				</div>
				<div class="info">
					<div class="name-date">
					
						<span class="user-link">Upload by <%= @friend.firstName+" "+@friend.lastName%></span>
						<span class="pub-date"><%= pic.attributes_before_type_cast["created_at"] %></span>
					</div>
					<div class="text-source">
						<div class="text">
							<%= pic.title %>
						</div>
					</div>
					<div class="images">
						<a href="http://localhost/Picbook/comment.html"><%= image_tag (pic.photo) %></a>
					</div>

					<div class="clearboth"></div>
					<div class="dotline"></div>
				</div>
			</div>
			<div class="clearboth"></div>
			<% end %>
		</div>
		
	</div>
</div>
